.sidebar-right {
  position: fixed;
  width: 30%;
  min-width: 200px;
  top: 0px;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: white;
  justify-content: center;
  padding-inline: 8px;
  padding-top: 80px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.basket-icon{
  height: 90px;
  padding: 16px;
  margin-bottom: 24px;
}

.headline {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.content-emptyBasket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.basket-content {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 8px;
  margin-bottom: 16px;
}

.basket-content button {
  cursor: pointer;
}

.basket-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
}


.dish-icon {
  height: 12px;
}

.max-width {
  max-width: 500px;
}

.sum-container {
  display: flex;
  align-items: center;
}

.order-button {
  background-color: orange;
  font-weight: bold;
  border: none;
  padding: 16px;
  width: 150px;
  border-radius: 8px;
  cursor: pointer;
}

.order-button:hover {
  background-color: rgb(255, 192, 75);
}

.margin-right {
  padding: 8px;
}

.d-none {
  display: none;
}


@media(max-width:1050px)
{
  .sidebar-right {
    width: 45%;
  }
}

@media(max-width:710px)
{
  .sidebar-right {
  display: none;
  }

  .openbasket-button {
    background-color: orange;
    font-weight: bold;
    border: none;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    position: fixed;
    bottom: 250px;
    left: 100px;
  }
  

}

